<!DOCTYPE html>
<html>
  <head>
<title> Originals page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner{
        height:360px;
        width:100%;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
       {% include 'nav.html' %}
    <div class = "container">
    <h1 class= "text-center mt- 2 mb- 4">ORIGINAL'S PAGE</h1>
    <img class="img-fluid" id="banner" 
      src= "https://52ead570-e019-4d6e-9ece-dc541e0a032f-00-3mgw7no5domp4.riker.replit.dev/static/self.jpg">
      
      <h2 class="text-center mt- 2 mb- 4">About Original</h2>
    
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac urna at quam consequat faucibus. In laoreet accumsan porttitor. Nunc et massa metus. Vestibulum diam odio, placerat aliquam ullamcorper ac, rutrum et eros. Quisque ornare nunc ac velit hendrerit condimentum. Cras sed arcu nec turpis pulvinar venenatis non id neque. Sed ipsum diam, facilisis non libero ut, aliquet posuere dui. In at semper quam. Proin vitae laoreet tortor. Proin et gravida mauris. Ut a egestas sem, at consectetur risus. Vivamus egestas erat sit amet risus rhoncus molestie ut eget metus. In eu diam iaculis, vestibulum dolor a, sodales eros.
    </p>     
    <h2 class="text-center mt- 2 mb- 4">Skills and Talents</h2>
    <div>
      {% for talents in talents %}
      <div class="border-bottom row" 
        style="margin-bottom:16px;padding-bottom:8px">

        
        <h4 
          style="color:rgb(120,120,120); margin-bottom:4px;">
      {{talents["title"]}} 
        </h4>  
        <a href="https://youtube.com/@JustOriginal01?si=xv5geMdnFwyP3vLM" type="button" class="btn btn-outline-primary">Read</a> 
      
      </div>

        {% endfor %}
      
        </div>
            <div class="text-center">
              <a href="mailto:aimhigher136@gmail.com" style="display:inline-block;padding:10px 20px;background-color:#007BFF;color:#fff;text-decoration:none;border-radius:5px;">Contact</a>
   <!--
              <button class="btn btn-primary btn-lg""> Contact me </button> -->
      </div>
    </div>
     {% include "footer.html" %}
</body>
 
</html>

